@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

a{
  color: inherit !important;
  text-decoration: inherit !important;
}
*{
  margin: 0;
  padding: 0;
  font-family: Roboto,system-ui;
  font-size: 16px;
}

body{
  max-width: 50vw;
}

.navbar_top{
  position: absolute;
  top:0.5vh;
  bottom:0;
  width: 60vw;
  max-height: 50px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20%;

  justify-content: space-between;
}

.navbar_menu{
  width: 14vw;
  position: relative;
  padding-top: 1vh;
  left: 20vw;
  max-height: 50px;
  color: white;
  font-weight: 800;
  font-style: oblique;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}



.menu_item{
  font-size: 0.7vw;
  text-decoration: underline;
  text-underline-offset: 1vh;
  letter-spacing: 0.12vw;
}
.navbar_logo{
  padding-top: 1.4vh;
  height: 6vh;
  min-height: 10px;
  min-width: 1vw;           

  border-radius: 50%;

}

.banner{
  width: 100vw;
  /* height: 95vh; */
  margin-bottom: 3vh;
  background-color: white;
}

.navbar_mid{
  position: relative;
  bottom: 1vh;
  left: 20vw;
  width: 60vw;
  min-height: 8vh;
  max-height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar_menu_mid{
  padding-top: 3.5vh;
  position: relative;
  width: 14vw;
  max-height: 50px;
  color: rgb(77, 86, 102);
  font-weight: 800;
  font-style: oblique;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}



.menu_item_mid{
  font-size: 0.7vw;
  text-decoration: underline;
  text-underline-offset: 1vh;
  letter-spacing: 0.12vw;
}
.navbar_logo_mid{
  /* height: 3vw;
  max-height: 3vw; */
  width: 12vw;
  min-width: 100px;
}

/* carousel */
.slide-container{
position: relative;
top:1vh;
width: 100vw;
height: 60vh;

}

/* .slider-controls{
  position: relative;
  width: 100%;
  background-color: rgb(247, 0, 0);
  
} */
.selector-images{
  width: 16vw;
}
.carousel-indicators img{
  /* position: relative; */
  /* bottom: 10vh; */
  margin-left: -9vw;
  display: block;
}
.carousel-indicators{
  margin-left: 0% !important;
  margin-bottom: 0 !important;
  padding:0 !important;
}
.carousel-indicators button{
  /* width: max-content !important;  */
  position: relative;
  bottom: 1px;
  width: 2px !important;
  border-radius: 50%;
  color: white;
}


.flex-container{
  width: 100vw;
  margin: 0 !important;
  background-color: rgba(44, 44, 60, 0.648);
  display: flex !important;
  gap:16vw;
  justify-content: center !important;

}

/* Mid divider and carousel caption heading */
#climb{
  position: relative;
  top:60vh;
}
.content-container{
  position: relative;
  top:1vh;
  left:-10vh;
  display: flex;
  gap:2vw;
  width: 100vw;
  height: 30vh;
  align-items: center;
}
.content-heading{
  width: 1fr;
  margin-left: 30vw;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  gap:0.5vw;
  
}
.content-heading-number{
  font-size: 22vh;
  font-weight: 700;
  font-family:bebas neue; 
  color: rgba(91, 111, 139, 0.429);
}

.content-heading-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  
}
.title-text{
  position: relative;
  top:2.3vh;
  color: rgb(72, 97, 133);
  font-size: 7vh;
  font-weight: 500;
  font-family:bebas neue; 
}

.title-square{
  position: relative;
  top:0.1vh;
  background-color: rgba(91, 111, 139, 0.429);
  min-width: 1.5vw;
  min-height: 2.9vh;


}

.content-description{
  width: 40vw;
}

/* Mountain Selector (submenu) */
.submenu-navbar{
  margin-top: -3vh;
  width: 100vw;
  height: 6vh;
  background-color:rgb(61, 83, 115);
}
#mountain1{
  margin-left: 22vw;
}
.option-btn{
  height: 6vh;
  font-family:bebas neue; 
  color: rgb(91, 111, 139);
  font-weight: 550;
  font-size: 3.3vh;
  box-sizing: border-box;
  padding: 2px 14px;
  background-color: rgb(61, 83, 115);
  border: none;
}

.option-btn:active{
  text-decoration: underline;
}
.option-btn:after{
  text-decoration: underline;
  text-underline-offset: 1vh;
}
.option-btn:enabled{
  text-decoration: underline;
  text-underline-offset: 0.5vh;
}

/* submenu display container */
.submenu-display-container{
  width: 100vw;
  background-color: white;
  height: 80vh;
}
.schedule-img{
  width: 100%;
  height: 80vh;
}
.schedule-container{
  position: absolute;
  top:15vh;
  left:25vw;
  width: 20vw;
  /* height: 50%; */
  background-color: white;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}
.schedule-title{
  position: relative;
  top:2vh;
  left:1.5vw;
  color: rgb(72, 97, 133);
  font-size: 5vh;
  font-weight: 500;
  font-family:bebas neue; 

}
.schedule-table{
  width: 100%;
  padding: 3vh;
}
.schedule-table-row{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer{
  position: relative;
  top:58vh;
  width: 100vw;
}